* {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000;
    /* padding: 0.5rem; */
}

.content-top {
    display: flex;
    flex: 1;
    padding: 0.5rem;
}

.content-bottom {
    height: 70px;
}

.sidebar {
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    /*16px8*/
    margin-bottom: 0.3rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    /* padding: 0 2rem; */
    overflow: auto;
    margin-bottom: 0.3rem;
}

.music-player {
    background-color: black;
    height: 70px;
}

a {
    text-decoration: none;
}

.nav {
    background-color: #121212;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
    margin: 0 0.3rem 0.3rem 0.3rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
    display:flex;
    align-items: center;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.30rem;
    padding: 0.1rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem 0.75rem;
    margin: 0.3rem;
    /* overflow: auto; */
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.5rem;
}

.lib-option {
    display: flex;
    align-items: center;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
    margin-bottom: 0.2rem;
}

.icon {
    display: flex;
    font-size: 1.25rem;
}

.icon i {
    margin-right: 1rem;
    opacity: 0.7;
}

.icon i:hover {
    opacity: 1;
}

/* .lib-box {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: blue orange;
} */

.box {
    background-color: #232323;
    height: 6.5rem;
    border-radius: 0.7rem;
    margin: 0.9rem 0 0.5rem 0;
    padding: 0.75rem 1rem;
    line-height: 30px;
}

.box .box-p1 {
    font-size: 0.9rem;
    font-weight: 500;
}

.box .box-p2 {
    font-size: 0.75rem;
    opacity: 0.9;
}

.badge {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.8rem;
    height: 2rem;
    width: fit-content;
}

.dark-badge {
    color: #fff;
    background-color: #000;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0 0.8rem 0;
    border-radius: 0.7rem 0.7rem 0 0;
    z-index: 10;
    box-shadow: 0 0 2rem black;
}

.sticky-nav-icon {
    margin-left: 1rem;
}

.sticky-nav-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-nav-option .badge {
    margin-top: 0;
}

.option-container {
    margin-right: 1rem;
}

.install-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.cards {
    padding: 0 2rem;
}

.cards h2{
    line-height: 2.5rem;
    margin-top: 1rem;
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-right: 2rem;
    margin-top: 1rem;
    transition: all 0.19s ease-in;
}

.card:hover {
    background-color: #2f2f2f;
}

.card img {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem black;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-title {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 3rem;
}

.card-info {
    font-size: 0.7rem;
    opacity: 0.7;
}

.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .line{
    width: 90%;
    border-top: 1px solid white;
    opacity: 0.3;
    height: 90px;
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.album-image{
    height: 3.5rem;
    width: 3.5rem;
    margin-left: 0.7rem;
}

.album-title {
    margin: 1rem;
}

p.text-big {
    font-size: 1rem;
    font-weight: 400;
}

p.text-small {
    font-size: 0.7rem;
    opacity: 0.6;
}

.album-btn i {
    font-size: 1rem;
    margin-left: 0.5rem;
    opacity: 0.7;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.control i {
    font-size: 1rem;
    margin: 0 0.3rem;
    opacity: 0.7;
}

.player {
    width: 50%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.player-control-icon {
    height: 1rem;
    margin: 0 0.7rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 60%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    position: absolute;
    height: 1rem;
    width: 1rem; 
    background-color: #1db760;
    border-radius: 50%;
    margin-top: -6px;
    /* z-index: 10;*/
} 

.curr-time, .tot-time {
    font-size: 0.9rem;
    margin: 0 0.5rem;
}

.main-content::-webkit-scrollbar {
    background-color: transparent;
}

.main-content::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;
    border-radius: 20px;
}